<div class="max-h-screen overflow-y-hidden">
  <app-header></app-header>
  <div class="max-h-screen overflow-scroll">
    <div role="alert" class="alert shadow-lg alert-success" *ngIf="signedIn">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      <div>
        <h3 class="font-bold">Ti sei iscritto!</h3>
        <div class="text-xs">Iscrizione eseguita con successo</div>
      </div>
    </div>

    <div role="alert" class="alert alert-error" *ngIf="dataError">
      <svg class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </svg>
      <span>Errore! Dati inseriti incompleti!</span>
    </div>

    <div class="m-10">

      <h1 class="mb-10 text-3xl">{{ selectedLocation?.name }}</h1>

      <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        <li *ngFor="let shift of shifts">
          <div class="timeline-middle">
          </div>
          <div class="timeline-start mb-10">
            <time class="font-mono italic">{{ shift.startTime }} - {{ shift.endTime }}</time>
            <div class="text-lg font-black">{{ shift.name }}</div>
            <div class="flex flex-col gap-3">
              {{ shift.description }}
              <p>{{ shift.shiftAvailability }} posti rimanenti</p>
              <progress class="progress progress-error w-1/2" value="{{shift.maxCollaborator - (shift.shiftAvailability)}}"
                        max="{{shift.maxCollaborator}}"></progress>
              <button class="btn btn-outline btn-accent" (click)="showDialog(shift.id)">Iscriviti</button>
            </div>
          </div>
          <hr/>
        </li>
      </ul>
    </div>

    <dialog [id]="shift.id+ 'Dialog'" class="modal modal-bottom sm:modal-middle" *ngFor="let shift of shifts">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Iscriviti ( {{ shift.startTime }} - {{ shift.endTime }} )</h3>
        <div class="flex justify-center">
          <form method="dialog" #myForm="ngForm" class="mt-2">

            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

            <label class="input input-bordered flex items-center mt-2 gap-2">
              Email:
              <input [(ngModel)]="formData.email" class="grow bg-base-100" name="email" placeholder="max.carota@gmail.com"
                     type="email"/>
            </label>

            <label class="input input-bordered flex items-center mt-2 gap-2">
              Telefono:
              <input [(ngModel)]="formData.phone" class="grow bg-base-100" name="phone" placeholder="123456789" required
                     type="tel"/>
            </label>
            <label class="input input-bordered flex items-center mt-2 gap-2">
              Nome:
              <input [(ngModel)]="formData.firstName" class="grow bg-base-100" name="firstName" placeholder="Max" required
                     type="text"/>
            </label>

            <label class="input input-bordered flex items-center mt-2 gap-2">
              Cognome:
              <input [(ngModel)]="formData.lastName" class="grow bg-base-100" name="lastName" placeholder="Carota" required
                     type="text"/>
            </label>

            <label class="input input-bordered flex items-center mt-2 gap-2">
              Età:
              <input [(ngModel)]="formData.age" class="grow bg-base-100" name="age" placeholder="22" required
                     type="date"/>
            </label>

            <label class="input input-bordered flex items-center mt-2 gap-2">
              Anni di esperienza:
              <input [(ngModel)]="formData.yearsExperience" class="grow bg-base-100" name="yearsExperience" placeholder="0" required
                     type="number"/>
            </label>

            <div class="mt-2">
              <select [(ngModel)]="formData.size" class="select select-bordered w-full" name="size" required>
                <option disabled>Taglia Maglietta</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
            </div>

            <div class="mt-2 w-full flex justify-end">
              <button type="submit" class="btn" (click)="submitData(shift.id)">Conferma</button>
            </div>
          </form>
        </div>
      </div>
    </dialog>
  </div>
</div>
