<div class="max-h-screen overflow-y-hidden">
  <app-header></app-header>
  <div class="max-h-screen overflow-scroll">
    <div *ngIf="noticeDialog" [ngClass]="noticeClass" class="alert w-fit m-5" role="alert">
      <svg *ngIf="noticeClass.includes('success')" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </svg>
      <svg *ngIf="noticeClass.includes('warning')" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"/>
      </svg>
      <svg *ngIf="noticeClass.includes('error')" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </svg>
      <span>{{ noticeMessage }}</span>
    </div>

    <div class="m-10">

      <h1 class="mb-10 text-3xl">{{ selectedLocation?.name }}</h1>

      <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        <li *ngFor="let shift of shifts">
          <div class="timeline-middle">
          </div>
          <div class="timeline-start mb-10">
            <time class="font-mono italic">{{ shift.startTime }} - {{ shift.endTime }}</time>
            <div class="text-lg font-black">{{ shift.name }}</div>
            <div class="flex flex-col gap-3">
              <p>{{ shift.description }}</p>
              <p>{{ shift.collaboratorName }}</p>
              <p>{{ shift.shiftAvailability }} posti rimanenti</p>
              <progress class="progress progress-error w-1/2" value="{{shift.maxCollaborator - (shift.shiftAvailability)}}"
                        max="{{shift.maxCollaborator}}"></progress>
              <button class="btn btn-primary" (click)="showDialog(shift.id)">Iscriviti</button>
            </div>
          </div>
          <hr/>
        </li>
      </ul>
    </div>

    <dialog [id]="shift.id+ 'Dialog'" class="modal modal-bottom sm:modal-middle" *ngFor="let shift of shifts">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Iscriviti ( {{ shift.startTime }} - {{ shift.endTime }} )</h3>
        <div class="flex justify-center">
          <form [formGroup]="formData" class="mt-2" method="dialog">

            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

            <label [ngClass]="{'input-error': formData.get('email')?.invalid && formData.get('email')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Email:
              <input class="grow bg-base-100" formControlName="email" name="email"
                     [readOnly]="activeCollaborator?.email" placeholder="max.carota@gmail.com" type="email"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('phone')?.invalid && formData.get('phone')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Telefono:
              <select class="grow bg-base-100" formControlName="countryCode" name="countryCode" required>
                <option value="+41">+41</option>
                <option value="+39">+39</option>
              </select>
              <input class="grow bg-base-100" formControlName="phone" name="phone" placeholder="123456789" required
                     maxlength="9" type="text"/>
            </label>
            <label [ngClass]="{'input-error': formData.get('firstName')?.invalid && formData.get('firstName')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Nome:
              <input class="grow bg-base-100" formControlName="firstName" name="firstName" placeholder="Max"
                     required type="text"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('lastName')?.invalid && formData.get('lastName')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Cognome:
              <input class="grow bg-base-100" formControlName="lastName" name="lastName" placeholder="Carota"
                     required type="text"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('age')?.invalid && formData.get('age')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Età:
              <input class="grow bg-base-100" formControlName="age" name="age" placeholder="22"
                     [readOnly]="activeCollaborator?.age" required type="date"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('yearsExperience')?.invalid && formData.get('yearsExperience')?.touched}"
                   class="input input-bordered flex items-center mt-2 gap-2">
              Anni di esperienza:
              <input class="grow bg-base-100" formControlName="yearsExperience" name="yearsExperience" placeholder="0"
                     [readOnly]="activeCollaborator?.yearsExperience" required type="number"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('town')?.invalid && formData.get('town')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Comune:
              <input class="grow bg-base-100" formControlName="town" name="town" placeholder="Serravalle" required
                     type="text"/>
            </label>

            <div class="mt-2">
              <select [ngClass]="{'select-error': formData.get('size')?.invalid && formData.get('size')?.touched}"
                      class="select select-bordered w-full" formControlName="size" name="size" required>
                <option disabled>Taglia Maglietta</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
            </div>

            <label class="form-control">
              <div class="label">
                <span class="label-text">Note:</span>
              </div>
              <textarea class="textarea textarea-bordered h-24" formControlName="comment" name="comment" placeholder="comment"></textarea>
            </label>

            <div class="mt-2 w-full flex justify-end">
              <button (click)="submitData(shift.id)" [disabled]="formData.invalid" class="btn btn-secondary" type="submit">Conferma</button>
            </div>
          </form>
        </div>
      </div>
    </dialog>

    <dialog class="modal" id="barBanner">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Attenzione!</h3>
        <p class="py-4">
          Lavorare organizzati e preparati va a vantaggio di tutti, partecipanti e staff. Segui
          le direttive dei nostri responsabili, i Team Leader, che conoscono bene il mestiere.
          Presentati 20min prima alla postazioni per ricevere le info necessarie (ad es. vedere
          i drink, refresh sui prezzi, refresh sui terminali e shottino).
        </p>
        <div class="py-4">
          È assolutamente vietato:
          <ul>
            <li>- Presentarsi ubraichi al turno</li>
            <li>- Ubriacarsi durante il turno</li>
            <li>- Dare da bere gratis</li>
            <li>- Entrare nei bar quando non si è di turno</li>
            <li>- Presentarsi in ritardo</li>
            <li>- Andare in backstage</li>
          </ul>
        </div>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Chiudi</button>
          </form>
        </div>
      </div>
    </dialog>

  </div>
</div>
