<div>
  <app-header></app-header>
  <div>
    <div role="alert" class="alert alert-error" *ngIf="dataError">
      <svg class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </svg>
      <span>Errore! Dati inseriti incompleti!</span>
    </div>

    <div class="m-10">

      <h1 class="mb-10 text-3xl">{{ selectedLocation?.name }}</h1>

      <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        <li *ngFor="let shift of shifts">
          <div class="timeline-middle">
          </div>
          <div class="timeline-start mb-10">
            <time class="font-mono italic">{{ shift.startTime }} - {{ shift.endTime }}</time>
            <div class="text-lg font-black">{{ shift.name }}</div>
            <div class="flex flex-col gap-3">
              {{ shift.description }}
              <p>{{ shift.shiftAvailability }} posti rimanenti</p>
              <progress class="progress progress-error w-1/2" value="{{shift.maxCollaborator - (shift.shiftAvailability)}}"
                        max="{{shift.maxCollaborator}}"></progress>
              <button class="btn btn-outline btn-accent" (click)="showDialog(shift.id)">Iscriviti</button>
            </div>
          </div>
          <hr/>
        </li>
      </ul>
    </div>

    <dialog [id]="shift.id+ 'Dialog'" class="modal modal-bottom sm:modal-middle" *ngFor="let shift of shifts">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Iscriviti ( {{ shift.startTime }} - {{ shift.endTime }} )</h3>
        <div class="flex justify-center">
          <form [formGroup]="formData" class="mt-2" method="dialog">

            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

            <label [ngClass]="{'input-error': formData.get('email')?.invalid && formData.get('email')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Email:
              <input class="grow bg-base-100" formControlName="email" name="email"
                     placeholder="max.carota@gmail.com" type="email"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('phone')?.invalid && formData.get('phone')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Telefono:
              <select class="grow bg-base-100" formControlName="countryCode" name="countryCode" required>
                <option value="+41">+41</option>
                <option value="+39">+39</option>
              </select>
              <input class="grow bg-base-100" formControlName="phone" name="phone" placeholder="123456789" required
              type="text" maxlength="9"/>
            </label>
            <label [ngClass]="{'input-error': formData.get('firstName')?.invalid && formData.get('firstName')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Nome:
              <input class="grow bg-base-100" formControlName="firstName" name="firstName" placeholder="Max"
                     required type="text"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('lastName')?.invalid && formData.get('lastName')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Cognome:
              <input class="grow bg-base-100" formControlName="lastName" name="lastName" placeholder="Carota"
                     required type="text"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('age')?.invalid && formData.get('age')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Età:
              <input class="grow bg-base-100" formControlName="age" name="age" placeholder="22"
                     required type="date"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('yearsExperience')?.invalid && formData.get('yearsExperience')?.touched}"
                   class="input input-bordered flex items-center mt-2 gap-2">
              Anni di esperienza:
              <input class="grow bg-base-100" formControlName="yearsExperience" name="yearsExperience" placeholder="0"
                     required type="number"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('town')?.invalid && formData.get('town')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Comune:
              <input class="grow bg-base-100" formControlName="town" name="town" placeholder="Serravalle" required
                     type="text"/>
            </label>

            <div class="mt-2">
              <select [ngClass]="{'select-error': formData.get('size')?.invalid && formData.get('size')?.touched}"
                      class="select select-bordered w-full" formControlName="size" name="size" required>
                <option disabled>Taglia Maglietta</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
            </div>

            <label class="form-control">
              <div class="label">
                <span class="label-text">Note:</span>
              </div>
              <textarea class="textarea textarea-bordered h-24" formControlName="comment" name="comment" placeholder="comment"></textarea>
            </label>

            <div class="mt-2 w-full flex justify-end">
              <button (click)="submitData(shift.id)" [disabled]="formData.invalid" class="btn" type="submit">Conferma</button>
            </div>
          </form>
        </div>
      </div>
    </dialog>
  </div>
</div>
