<div>
  <app-header></app-header>
  <div class="wrapper flex flex-col lg:flex-row-reverse sm:overflow-scroll">
    <div class="lg:order-2 h-full mt-5">
      <div class="card bg-white ml-5 mr-5 shadow filter text-black">
        <div class="card-body">
          <form [formGroup]="formData" class="mt-2" method="dialog">

            <label [ngClass]="{'input-error': formData.get('email')?.invalid && formData.get('email')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Email:
              <input class="grow bg-base-100" formControlName="email" name="email"
                     [readOnly]="activeCollaborator?.email" placeholder="max.carota@gmail.com" type="email"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('phone')?.invalid && formData.get('phone')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Telefono:
              <select class="grow bg-base-100" formControlName="countryCode" name="countryCode" required>
                <option value="+41">+41</option>
                <option value="+39">+39</option>
              </select>
              <input class="grow bg-base-100" formControlName="phone" maxlength="9" name="phone" placeholder="123456789"
                     required type="text"/>
            </label>
            <label [ngClass]="{'input-error': formData.get('firstName')?.invalid && formData.get('firstName')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Nome:
              <input class="grow bg-base-100" formControlName="firstName" name="firstName" placeholder="Max"
                     required type="text"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('lastName')?.invalid && formData.get('lastName')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Cognome:
              <input class="grow bg-base-100" formControlName="lastName" name="lastName" placeholder="Carota"
                     required type="text"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('age')?.invalid && formData.get('age')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Età:
              <input class="grow bg-base-100" formControlName="age" name="age" placeholder="22"
                     [readOnly]="activeCollaborator?.age" required type="date"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('yearsExperience')?.invalid && formData.get('yearsExperience')?.touched}"
                   class="input input-bordered flex items-center mt-2 gap-2">
              Anni di esperienza:
              <input class="grow bg-base-100" formControlName="yearsExperience" name="yearsExperience" placeholder="0"
                     [readOnly]="activeCollaborator?.yearsExperience" required type="number"/>
            </label>

            <label [ngClass]="{'input-error': formData.get('town')?.invalid && formData.get('town')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
              Comune:
              <input class="grow bg-base-100" formControlName="town" name="town" placeholder="Serravalle" required
                     type="text"/>
            </label>

            <div class="mt-2">
              <select [ngClass]="{'select-error': formData.get('size')?.invalid && formData.get('size')?.touched}"
                      class="select select-bordered w-full" formControlName="size" name="size" required>
                <option disabled>Taglia Maglietta</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
            </div>

            <button (click)="saveUser()" class="btn btn-secondary w-full mt-2">Salva</button>

          </form>
        </div>
      </div>
    </div>
    <div class="flex-grow lg:order-1">
      <div class="flex flex-col items-center md:overflow-scroll h-mobile" style="">
        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical w-full mt-5">
          <li *ngFor="let association of associations">
            <div class="timeline-middle">
            </div>
            <div class="timeline-start">
              <time class="font-mono italic">{{ association.shift.location.day.name }} ({{ association.shift.startTime }} - {{ association.shift.endTime }})</time>
              <div class="text-lg font-black">{{ association.shift.location.name }}</div>
              <div class="flex flex-col gap-3">
                {{ association.shift.name }}
                <span *ngIf="association.status==='ACCEPTED'" class="text-success">Accettato</span>
                <span *ngIf="association.status==='PENDING'" class="text-warning">Sotto revisione</span>
                <span *ngIf="association.status==='REJECTED'" class="text-error">Rifiutato</span>
              </div>
            </div>
            <hr class="my-2"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
