<div class="max-h-screen overflow-y-hidden">
  <app-header></app-header>
  <div role="alert" class="alert alert-error" *ngIf="dataError">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <span>Errore! Dati inseriti incompleti!</span>
  </div>
  <div class="max-h-screen overflow-scroll">
    <h1 class="ml-5 mt-5 text-4xl">{{ locationName }}</h1>
    <div class="flex gap-3 flex-col m-5">
      <div class="collapse collapse-arrow bg-base-200" *ngFor="let shift of shifts">
        <input (click)="getSelectedShiftAssociations(shift.id)" name="my-accordion-2" type="radio"/>
        <div class="collapse-title text-xl justify-between flex font-medium">
          <div class="self-center">
            {{ shift.name }} - {{ shift.startTime }} - {{ shift.endTime }}
          </div>
        </div>
        <div class="collapse-content">
          <div *ngFor="let association of adminAssociations">
            <div class="flex w-full justify-between ml-5 mr-5">
              <div class="self-center">
                {{ association.collaborator.firstName }} {{ association.collaborator.lastName }}
              </div>
              <div class="self-center">
                {{ association.collaborator.phone }}
              </div>
              <div class="self-center">
                {{ association.collaborator.email }}
              </div>
              <div class="self-center">
                note...
              </div>
              <div class="flex gap-2 mr-5">
                <button (click)="rejectAssociation(association.collaborator.id, shift.id)" class="btn btn-error">Rifiuta</button>
                <button (click)="approveAssociation(association.collaborator.id, shift.id)" [disabled]="association.status === 'ACCEPTED'" class="btn btn-success">Conferma</button>
              </div>
            </div>
            <div class="flex flex-col w-full">
              <div class="divider divider-start"></div>
            </div>
          </div>
          <button (click)="deleteShift(shift)" class="btn btn-circle self-end">
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
          </button>
        </div>
      </div>
      <button class="btn btn-success" (click)="dialog.showModal()">Aggiungi Turno</button>
    </div>
  </div>
</div>

<dialog #dialog class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Crea Turno</h3>
    <div class="flex justify-center">
      <form method="dialog" #myForm="ngForm" class="mt-2">

        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

        <label class="input input-bordered flex items-center mt-2 gap-2">
          Nome:
          <input type="text" class="grow bg-base-100" [(ngModel)]="formData.name" name="name" placeholder="Turno 1" required/>
        </label>

        <label class="input input-bordered flex items-center mt-2 gap-2">
          Descrizione:
          <input type="text" class="grow bg-base-100" [(ngModel)]="formData.description" name="description" placeholder="Descrizione di Turno 1" required/>
        </label>
        <label class="input input-bordered flex items-center mt-2 gap-2">
          Inizio:
          <input type="time" class="grow bg-base-100" [(ngModel)]="formData.startTime" name="startTime" required/>
        </label>

        <label class="input input-bordered flex items-center mt-2 gap-2">
          Fine:
          <input type="time" class="grow bg-base-100" [(ngModel)]="formData.endTime" name="endTime" required/>
        </label>

        <label class="input input-bordered flex items-center mt-2 gap-2">
          Numero di collaboratori:
          <input type="number" class="grow bg-base-100" [(ngModel)]="formData.maxCollaborator" name="maxCollaborator" placeholder="1" required/>
        </label>
        <div class="mt-2 w-full flex justify-end">
          <button class="btn" (click)="submitData()">Conferma</button>
        </div>
      </form>
    </div>
  </div>
</dialog>
