<div class="max-h-screen overflow-y-hidden">
  <app-header></app-header>
  <div class="max-h-screen overflow-scroll">
    <h1 class="ml-5 mt-5 text-4xl">{{ location.name }}</h1>
    <div class="flex gap-3 flex-col m-5">
      <div class="join gap-2">

        <label class="input input-bordered flex items-center gap-2 w-fit">
          <svg class="w-4 h-4 opacity-70" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"/>
          </svg>
          <input [(ngModel)]="location.manager" class="bg-base-100" placeholder="Manager" type="text"/>
        </label>

        <button (click)="reloadManager()" class="btn btn-circle btn-outline">
          <img alt="sync" src="../../../assets/icons/sync.svg">
        </button>

      </div>

      <div class="collapse collapse-arrow bg-base-200" *ngFor="let shift of shifts">
        <input (click)="getSelectedShiftAssociations(shift.id)" name="my-accordion-2" type="radio"/>
        <div class="collapse-title text-xl justify-between flex font-medium">
          <div class="self-center">
            {{ shift.name }} - {{ shift.startTime }} - {{ shift.endTime }}
          </div>
        </div>
        <div class="collapse-content">
          <div *ngFor="let association of adminAssociations">
            <div class="flex w-full justify-between ml-5 mr-5">
              <div class="self-center">
                {{ association.collaborator.firstName }} {{ association.collaborator.lastName }}
              </div>
              <div class="self-center">
                {{ association.collaborator.phone }}
              </div>
              <div class="self-center">
                {{ association.collaborator.email }}
              </div>
              <div class="self-center">
                {{ association.comment }}
              </div>
              <div class="flex gap-2 mr-5">
                <button (click)="rejectAssociation(association.collaborator.id, shift.id)" class="btn btn-error">Rifiuta</button>
                <button (click)="approveAssociation(association.collaborator.id, shift.id)" [disabled]="association.status === 'ACCEPTED'" class="btn btn-success">Conferma</button>
              </div>
            </div>
            <div class="flex flex-col w-full">
              <div class="divider divider-start"></div>
            </div>
          </div>
          <button (click)="openDeleteModal(shift)" class="btn btn-error b self-end"> Elimina</button>
        </div>
      </div>
      <button class="btn btn-success" (click)="dialog.showModal()">Aggiungi Turno</button>
    </div>
  </div>
</div>

<dialog #dialog class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Crea Turno</h3>
    <div class="flex justify-center">
      <form [formGroup]="shiftForm" class="mt-2" method="dialog">

        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

        <label [ngClass]="{'input-error': shiftForm.get('name')?.invalid && shiftForm.get('name')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
          Nome:
          <input class="grow bg-base-100" formControlName="name" name="name" placeholder="Turno 1" required type="text"/>
        </label>

        <label [ngClass]="{'input-error': shiftForm.get('description')?.invalid && shiftForm.get('description')?.touched}"
               class="input input-bordered flex items-center mt-2 gap-2">
          Descrizione:
          <input class="grow bg-base-100" formControlName="description" name="description" placeholder="Descrizione di Turno 1" required type="text"/>
        </label>

        <label [ngClass]="{'input-error': shiftForm.get('startTime')?.invalid && shiftForm.get('startTime')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
          Inizio:
          <input class="grow bg-base-100" formControlName="startTime" name="startTime" required type="time"/>
        </label>

        <label [ngClass]="{'input-error': shiftForm.get('endTime')?.invalid && shiftForm.get('endTime')?.touched}" class="input input-bordered flex items-center mt-2 gap-2">
          Fine:
          <input class="grow bg-base-100" formControlName="endTime" name="endTime" required type="time"/>
        </label>

        <label [ngClass]="{'input-error': shiftForm.get('maxCollaborator')?.invalid && shiftForm.get('maxCollaborator')?.touched}"
               class="input input-bordered flex items-center mt-2 gap-2">
          Numero di collaboratori:
          <input class="grow bg-base-100" formControlName="maxCollaborator" name="maxCollaborator" placeholder="1" required type="number"/>
        </label>

        <div class="mt-2 w-full flex justify-end">
          <button (click)="submitData()" [disabled]="shiftForm.invalid" class="btn btn-secondary">Conferma</button>
        </div>
      </form>
    </div>
  </div>
</dialog>

<dialog class="modal" id="deleteDialog">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Attenzione!</h3>
    <p class="py-4">Sicuro di voler eliminare questo turno?</p>
    <div class="modal-action">
      <form class="flex gap-2" method="dialog">
        <button (click)="undoDelete()" class="btn">Annulla</button>
        <button (click)="deleteShift()" class="btn btn-error">Elimina</button>
      </form>
    </div>
  </div>
</dialog>
