<div class="w-screen h-screen wrapper">
  <div class="body h-full">
    <form (ngSubmit)="onSubmit()">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Benvenuto, inserisci il tuo numero di telefono</span>
        </div>
        <div class="join join-vertical lg:join-horizontal">
          <div class="input input-bordered inline-block prefix">+41</div>
          <input type="tel" name="phone" placeholder="Telefono" class="input input-bordered w-full max-w-xs" pattern="[1-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"/>
        </div>
      </label>
    </form>
  </div>
</div>
