<div class="wrapper flex mt-5 mb-5">
  <div class="left">
    <div class="card bg-white shadow-xl ml-3 mr-3 filter text-black">
      <div class="card-body">
        <h2 class="card-title">Filter</h2>

        <br>

        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />

        <br>

        <input type="range" min="0" max="100" value="25" class="range" step="25" />
        <div class="w-full flex justify-between text-xs px-2">
          <span>|</span>
          <span>|</span>
          <span>|</span>
          <span>|</span>
          <span>|</span>
        </div>

        <br>

        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">asd</span>
            <input type="checkbox" class="toggle" checked />
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">dsa</span>
            <input type="checkbox" class="toggle" checked />
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">sad</span>
            <input type="checkbox" class="toggle" checked />
          </label>
        </div>


      </div>
    </div>
  </div>
  <div class="right">
    <div class="flex flex-col items-center gap-5">

      <div class="card lg:card-side bg-white text-black shadow-xl">
        <figure><img src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
        <div class="card-body">
          <h2 class="card-title">Postazione Bar</h2>
          <div role="alert" class="alert bg-gray-50 w-fit">
            <img src="assets/icons/group.svg" alt="group">
            <span>4 posti rimanenti.</span>
          </div>
          <p>Click the button to listen on Spotiwhy app.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Listen</button>
          </div>
        </div>
      </div>

      <div class="card lg:card-side bg-white text-black shadow-xl">
        <figure><img src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
        <div class="card-body">
          <h2 class="card-title">Raccolta Bicchieri</h2>
          <div role="alert" class="alert bg-gray-50 w-fit">
            <img src="assets/icons/group.svg" alt="group">
            <span>4 posti rimanenti.</span>
          </div>
          <p>Click the button to listen on Spotiwhy app.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Listen</button>
          </div>
        </div>
      </div>


      <div class="card lg:card-side bg-white text-black shadow-xl">
        <figure><img src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
        <div class="card-body">
          <h2 class="card-title">Postazione Cassa</h2>
          <div role="alert" class="alert bg-gray-50 w-fit">
            <img src="assets/icons/group.svg" alt="group">
            <span>4 posti rimanenti.</span>
          </div>
          <p>Click the button to listen on Spotiwhy app.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Listen</button>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
