<div class="w-screen h-screen wrapper">
  <app-header></app-header>
  <div class="body h-full w-screen">
    <form (ngSubmit)="onSubmit()">
      <label class="form-control flex justify-center items-start">
        <div class="label">
          <span class="label-text">Benvenuto, inserisci la tua mail</span>
        </div>
        <div class="join join-vertical lg:join-horizontal w-96">
          <input type="email" name="email" placeholder="Email" class="input input-bordered w-full max-w-xs" [(ngModel)]="mail"/>
        </div>
      </label>
    </form>
  </div>
</div>
