<div class="w-screen h-screen wrapper">
  <app-header></app-header>
  <div class="body h-full w-screen">

    <form class="flex">
      <label class="form-control flex justify-center items-start">
        <div class="label">
          <span *ngIf="!isEmailInserted" class="label-text">Benvenuto, inserisci la tua mail</span>
          <span *ngIf="isEmailInserted && !isDateInserted" class="label-text">Inserisci la tua data di nascita</span>
          <span *ngIf="isEmailInserted && isDateInserted" class="label-text">Verifica la tua mail, ed inserisci il codice</span>
        </div>
        <div class="join join-vertical lg:join-horizontal w-96 gap-2">
          <input *ngIf="!isEmailInserted" [(ngModel)]="mail" class="input input-bordered w-full max-w-xs" name="email" placeholder="Email" type="email"/>
          <input *ngIf="isEmailInserted && !isDateInserted" [(ngModel)]="date" class="input input-bordered w-full max-w-xs" name="date" placeholder="01/01/2001" type="date">
          <input *ngIf="isEmailInserted && isDateInserted" [(ngModel)]="code" class="input input-bordered w-full max-w-xs" name="code" placeholder="123456" type="number"/>

          <button (click)="setMail()" (submit)="setMail()" *ngIf="!isEmailInserted" [disabled]="buttonDisabled" class="btn btn-primary">Invia</button>
          <button (click)="setDate()" (submit)="setDate()" *ngIf="isEmailInserted && !isDateInserted" [disabled]="buttonDisabled" class="btn btn-primary">Invia</button>
          <button (click)="login()" (submit)="login()" *ngIf="isEmailInserted && isDateInserted" [disabled]="buttonDisabled" class="btn btn-primary">Invia</button>
        </div>
      </label>
    </form>
  </div>
</div>
