<div>
  <app-header></app-header>
  <div *ngIf="dataError" class="displayerror">
    <div class="alert alert-error" role="alert">
      <svg class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"/>
      </svg>
      <span>Errore! Dati inseriti incompleti!</span>
    </div>
  </div>


  <div class="displayerror" *ngIf="locked">
    <div role="alert" class="alert alert-warning">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      <span>Iscrizioni bloccate!</span>
    </div>
  </div>

  <div class="wrapper flex flex-col lg:flex-row-reverse sm:overflow-scroll">
    <div class="lg:order-2 h-full mt-5">
      <div class="card bg-white ml-5 shadow filter text-black">
        <div class="card-body">
          <h2 class="card-title">Azioni</h2>

          <select [(ngModel)]='currentDayId' #id class="select select-bordered w-full max-w-xs"
                  (change)="changeDayAdmin(id.value)">
            <option *ngFor="let day of days" [value]="day.id">{{ day.name }}</option>
          </select>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Postazione</span>
            </div>
            <input (keyup)="filterLocation()" [(ngModel)]="nameToFilter" class="input input-bordered w-full max-w-xs"
                   placeholder="Inserisci postazione..." type="text"/>
          </label>

          <button (click)="filterLocation()" class="btn btn-secondary">
            Cerca
          </button>

          <br>

          <button class="btn btn-primary" (click)="goToUserPage()">Gestisci Utenti</button>

          <br>

          <button class="btn btn-primary" (click)="dialogExport.showModal()">Esporta Excel</button>

          <br>

          <button class="btn" (click)="dialogDay.showModal()">Crea Giorno</button>
          <button class="btn" (click)="goToCreateLocationPage()">Crea postazione</button>


          <br>

          <button (click)="deleteCurrentDay()" class="btn btn-error">Elimina giorno</button>


          <br>
          <div class="form-control w-52">
            <label class="cursor-pointer label">
              <span class="label-text">Blocco iscrizioni</span>
              <input (click)="toggleLock()" [checked]="locked" class="toggle toggle-error" type="checkbox"/>
            </label>
          </div>

        </div>
      </div>
    </div>
    <div class="flex-grow lg:order-1">
      <div class="flex flex-col items-center md:overflow-scroll h-mobile" style="">
        <div *ngFor="let location of filteredLocations; index as i"
             class="card lg:card-side bg-white text-black shadow md:w-2/3 my-5 mx-5">
          <figure><img [src]="sanitizeImageUrl(location.image)" alt="Album"/>
          </figure>
          <div class="card-body">
            <h2 class="card-title">{{ location.name }}</h2>
            <div class="join gap-2">
              <div class="alert bg-gray-50 border-accent w-fit" role="alert">
                <img alt="group" src="../../../assets/icons/group.svg">
                <span>{{ location.shiftAvailability }} Rimanenti</span>
              </div>
              <div *ngIf="location.manager" class="alert bg-gray-50 border-accent w-fit" role="alert">
                <img alt="manager" src="../../../assets/icons/manager.svg">
                <span>{{ location.manager }}</span>
              </div>
            </div>
            <p>{{ location.description }}</p>
            <div class="card-actions justify-end">
              <button class="btn btn-error text-white" (click)="deleteLocation(location)">Elimina</button>
              <button class="btn btn-secondary" (click)="openDetail(location)">Gestisci</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dialog #dialogDay class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Crea Giorno</h3>
    <div class="flex justify-center">
      <form [formGroup]="dayForm" class="mt-2" method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

        <label [ngClass]="{'input-error': dayForm.get('name')?.invalid && dayForm.get('name')?.touched}"
               class="input input-bordered flex items-center mt-2 gap-2">
          Nome:
          <input class="grow bg-base-100" formControlName="name" name="name" placeholder="Lunedì" required type="text"/>
        </label>

        <label [ngClass]="{'input-error': dayForm.get('description')?.invalid && dayForm.get('description')?.touched}"
               class="input input-bordered flex items-center mt-2 gap-2">
          Descrizione:
          <input class="grow bg-base-100" formControlName="description" name="description"
                 placeholder="Descrizione del giorno" required type="text"/>
        </label>
        <div class="mt-2 w-full flex justify-end">
          <button (click)="submitData()" [disabled]="buttonDisabled ||dayForm.invalid" class="btn btn-secondary">Conferma</button>
        </div>
      </form>
    </div>
  </div>
</dialog>


<dialog #dialogExport class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Inserisci email</h3>
    <div class="flex justify-center">
      <form [formGroup]="exportForm" class="mt-2" method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

        <label [ngClass]="{'input-error': exportForm.get('email')?.invalid && exportForm.get('email')?.touched}"
               class="input input-bordered flex items-center mt-2 gap-2">
          Nome:
          <input class="grow bg-base-100" formControlName="email" name="email" placeholder="mario.rossi@mail.com"
                 required type="text"/>
        </label>

        <div class="mt-2 w-full flex justify-end">
          <button (click)="submitEmailToExport()" [disabled]="exportForm.invalid" class="btn btn-secondaryn">Conferma</button>
        </div>
      </form>
    </div>
  </div>
</dialog>
