<div>
  <app-header></app-header>
  <div class="wrapper flex flex-col lg:flex-row-reverse sm:overflow-scroll">
    <div class="lg:order-2 h-full mt-5">
      <div class="card bg-white ml-5 mr-5 shadow filter text-black">
        <div class="card-body">
          <h2 class="card-title">Filter</h2>
          <select [(ngModel)]='currentDayId' #id class="select select-bordered w-full max-w-xs" (change)="changeDay(id.value)">
            <option *ngFor="let day of days" [value]="day.id">{{ day.name }}</option>
          </select>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Postazione</span>
            </div>
            <input (keyup)="filterLocation()" [(ngModel)]="nameToFilter" class="input input-bordered w-full max-w-xs" placeholder="Inserisci postazione..." type="text"/>
          </label>

          <button (click)="filterLocation()" class="btn btn-primary">
            Cerca
          </button>

        </div>
      </div>
    </div>
    <div class="flex-grow lg:order-1">
      <div class="flex flex-col items-center md:overflow-scroll h-mobile" style="">
        <div *ngFor="let location of filteredLocations; index as i" class="card lg:card-side bg-white text-black shadow md:w-2/3 my-5 mx-5">
          <figure><img [src]="sanitizeImageUrl(location.image)" alt="Album"/></figure>
          <div class="card-body">
            <h2 class="card-title">{{ location.name }}</h2>
            <div class="join gap-2">
              <div class="alert bg-gray-50 border-accent w-fit" role="alert">
                <img alt="group" src="../../../assets/icons/group.svg">
                <span>{{ location.shiftAvailability }} Rimanenti</span>
              </div>
              <div *ngIf="location.manager" class="alert bg-gray-50 border-accent w-fit" role="alert">
                <img alt="group" src="../../../assets/icons/manager.svg">
                <span>{{ location.manager }}</span>
              </div>
            </div>
            <p>{{ location.description }}</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary text-white" (click)="openDetail(location.id)">Iscriviti</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <dialog class="modal" id="welcomeBanner">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Ciao!</h3>
      <p class="py-4">
        Welcome nel magico mondo del Sun Valley Festival e grazie per il tuo
        contributo nella community più cool del Ticino.
      </p>
      <p class="py-4">Per realizzare questo fantastico
        evento, è importante che ognuno di noi dia il suo contributo, perché l’unione fa la
        forza.
      </p>
      <p class="py-4">
        Contiamo sulla tua parola: se ci dai la tua disponibilità, ci aspettiamo che ti
        presenterai ai turni.
      </p>
      <p class="py-4">
        Con 2 turni ti offriamo un 3DayPass, Badge SVF e T-shirt
      </p>
      <p class="py-4">
        Con 1 turno avrai accesso al festival gratuito per la serata in questione.
      </p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Chiudi</button>
        </form>
      </div>
    </div>
  </dialog>
</div>
