<div class="max-h-screen overflow-y-hidden">
  <app-header></app-header>
  <div *ngIf="dataError" class="alert alert-error" role="alert">
    <svg class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </svg>
    <span>Errore! Dati inseriti incompleti!</span>
  </div>
  <div class="max-h-screen overflow-y-scroll max-w-screen m-5 flex flex-col gap-y-5">
    <h1 class="text-2xl">Nuova Location</h1>
    <div class="flex w-full">
      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Email</span>
        </div>
        <input [(ngModel)]="collaborator.email" class="input input-bordered" disabled name="email" placeholder="email" required type="email"/>
      </label>

      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Nome</span>
        </div>
        <input [(ngModel)]="collaborator.firstName" class="input input-bordered" name="firstname" placeholder="Max" required type="text"/>
      </label>

      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Cognome</span>
        </div>
        <input [(ngModel)]="collaborator.lastName" class="input input-bordered" name="lastname" placeholder="Carota" required type="text"/>
      </label>
    </div>

    <div class="flex w-full">
      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Telefono</span>
        </div>
        <div class="join">
          <select class="bg-base-100 select select-bordered" name="countryCode" required>
            <option value="+41">+41</option>
            <option value="+39">+39</option>
          </select>
          <input [(ngModel)]="collaborator.phone" class="input input-bordered w-full" name="phone" placeholder="0791234567" required type="tel"/>
        </div>
      </label>

      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Data di nascita</span>
        </div>
        <input [(ngModel)]="collaborator.age" class="input input-bordered" name="age" placeholder="11/09/2001" required type="date"/>
      </label>


      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Taglia Maglietta</span>
        </div>
        <select [(ngModel)]="collaborator.size" class="select select-bordered" name="size" required>
          <option disabled selected>Taglia</option>
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
        </select>
      </label>
    </div>

    <div class="flex w-full">
      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Anni di esperienza</span>
        </div>
        <input [(ngModel)]="collaborator.yearsExperience" class="input input-bordered" name="yearsExperience" placeholder="0" required type="number"/>
      </label>

      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text">Comune</span>
        </div>
        <input [(ngModel)]="collaborator.town" class="input input-bordered" name="town" placeholder="Serravalle" required type="text"/>
      </label>

      <label class="form-control w-1/3 mr-10">
        <div class="label">
          <span class="label-text"></span>
        </div>
      </label>


    </div>

    <div class="w-full flex justify-end mr-10">
      <button (click)="deleteCollaborator()" class="btn btn-error mr-2">Elimina</button>
      <button (click)="submitData()" class="btn btn-success w-1/12 mr-10">Salva</button>
    </div>
  </div>
</div>
