<app-header></app-header>
<div class="w-screen" style="display: flex; justify-content: center; justify-items: center">
  <div class="card w-10/12 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Regole</h2>
      <div>
        <ul>
          <li>Ognuno di noi qui contribuisce volontariamente per all'evento e per l'Associazione Asilo Beach: è semplicemente parte della nostra cultura e della nostra identità.
          </li>
          <li>Per far stare in piedi il tutto dobbiamo avere RISPETTO ed evitare comportamenti come:</li>
          <li>⛔️ Presentarsi ubriachi al turno</li>
          <li>⛔️ Ubriacarsi durante il turno</li>
          <li>⛔️ Dare da bere gratis</li>
          <li>⛔️ Entrare nei bar quando non si è di turno</li>
          <li>⛔️ Presentarsi in ritardo</li>
        </ul>
        <br>
        <p>Per domande scrivere a
          Jail (<a class="text-accent" href="tel:0796588917">079 658 89 17</a>) o
          Bryan (<a class="text-accent" href="tel:0796510156">079 651 01 56</a>).</p>

      </div>
    </div>
  </div>
</div>
